<div class="container-fluid">

    <!-- Sticky buttons on top -->
    <div class="d-flex align-items-center p-2 sticky-buttons">
        <button mat-raised-button color="primary" [disabled]="isCallStarted" (click)="streamCamera()" class="me-2">
            Stream with Camera
        </button>
        <button mat-raised-button color="primary" [disabled]="isCallStarted" (click)="streamScreen()" class="me-2">
            Stream with Screen
        </button>
        <button mat-raised-button color="primary" [disabled]="!isCallStarted" (click)="endCall()">
            End Call
        </button>
    </div>

    <h2>Peers</h2>
    <ul>
        @for(peerID of peerList; track peerID){
            <li>
                <span>{{peerID}}</span>
            </li>
        }
    </ul>

    <div class="video-container">
        <!-- Our video -->
        <div class="own-video" *ngFor="let video of videos" >
            <ng-container *ngIf="video.userID === ownID">
                <video [srcObject]="video.srcObject" autoplay muted></video>
            </ng-container>
        </div>

        <!-- Other peers -->
        <div class="peer-videos">
            <ng-container *ngFor="let video of videos" >
                <ng-container *ngIf="video.userID !== ownID">
                    <div class="peer-video">
                        <video [srcObject]="video.srcObject" autoplay></video>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>

</div>
