#chatContainer{
    margin-left: 16.666667%; 
    overflow-y: auto;
    height: 80vh;
}

/*
.messageContainer{
    background-color: rgb(0, 255, 81);
}

.detailContainer{
    background-color: blueviolet;
}

.messageDetail{
    background-color: aliceblue;
}

.contentContainer{
    background-color: burlywood;
} */

/* .messageContainer{
    background-color: rgb(0, 255, 81);
} */
.messageContainer .row {
    align-items: flex-start;
}

.contentContainer img{
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    /* margin-top: -1rem; */
    display: block;  /* ensures each image sits on its own line */
}

.pfpContainer {
    width: 60px;
    height: 60px;
    flex: 0 0 auto;
}

.profilePicture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.chatBox{
    position: sticky;
    bottom: 0;
    left: 16.666667%;
    width: 83.33333%;
    z-index: 10;
}

/* .systemMessage{
    margin-top: -1rem;
} */